b'data "google_billing_account" "account" {\n  billing_account = "000000-0000000-0000000-000000"\n}\n\nresource "google_billing_budget" "budget" {\n  billing_account = data.google_billing_account.account.id\n  display_name = "Example Billing Budget"\n  amount {\n    specified_amount {\n      currency_code = "USD"\n      units = "100000"\n    }\n  }\n  threshold_rules {\n      threshold_percent =  0.5\n  }\n}'