
module "{{name}}" {

source = "git::https://github.com/zhhuta/terraform-gcp.git//modules/service_account"



project = {{project}}

account_id = "{{name}}"

display_name = "{{name}}"

description = "{{description}}"

}